<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Latest HackerNews</title>
        
    </head>
    <body>
        
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="./index.html" class='active'>Latest</a>
                </li>

                <li>
                    <a href="./bestNews.html">Best</a>
                </li>
            </ul>
        </nav>
        
        <div class="container-news" id="container-news">

        </div>
        <div class="btn-div">
            
        </div>
    </body>
    
</html>
